<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% if page.ogimage %}
    <meta property="og:image" content="http://{{ site.url }}{{ page.ogimage }}"/>
    {% endif %}
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="/javascripts/jquery-1.10.2.min.js"></script>

    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
    typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
    b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
    mixpanel.init("a8f0459b1fac4a7a2097383d9fc29beb");</script><!-- end Mixpanel -->

    <script type="text/javascript">
      function trackOutboundLink(link, category, action) { 
        try { 
        mixpanel.track(category + ": " + action);
        _gaq.push(['_trackEvent', category , action]); 
        } catch(err){}
      }
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
        var localserver = window.location.hostname;

        $("a").click(function(){
          $(this).attr("target", "blank");

          var originalURL = $(this).attr("href");
          var name = $(this)[0].innerHTML;
 
          var currentRelativePath = $(location).attr("href").replace('http://'+localserver,'');

          var eventName = currentRelativePath + " '" + name + "'";
          trackOutboundLink($(this), eventName, originalURL);
          // alert(eventName + ": " + originalURL);
        });

        $("a").not("a[href^='/']").click(function(){
          $(this).attr("target", "self");
        });

      });

    </script>

  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/"><h1>jamztang.com</h1></a>
        <p></p>

        <p class="view">{% include outbound.html href="https://github.com/jamztang" innerHTML="GitHub<small>Opensource projects</small>" %}</p>
        <p class="view">{% include outbound.html href="http://medium.com/@jamztang" innerHTML="Medium<small>Longer writings</small>" %}</p>
        <p class="view">{% include outbound.html href="http://twitter.com/jamztang" innerHTML="Twitter<small>Tweets, about iOS, news, opensource</small>" %}</p>
        <p class="view">{% include outbound.html href="http://facebook.com/jamztang" innerHTML="Facebook<small>Friends met in person</small>" %}</p>
        <p class="view">{% include outbound.html href="http://linkedin.com/in/jamztang" innerHTML="LinkedIn<small>Worked together</small>" %}</p>
        <p class="view">{% include outbound.html href="http://mystcolor.me" innerHTML="Tumblr<small>Random insights</small>" %}</p>
        <p class="view">{% include outbound.html href="mailto:me@jamztang.com" innerHTML="Email<small>Direct contact</small>" %}</p> 

      </header>
      <section>
        {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
        {{ content }}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>

    <script src="javascripts/scale.fix.js"></script>
    {% if site.safe %}
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-28026242-6");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
    {% endif %}

  </body>
</html>
