<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% if page.ogimage %}
    <meta property="og:image" content="http://{{ site.url }}{{ page.ogimage }}"/>
    {% endif %}
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="/javascripts/jquery-1.10.2.min.js"></script>

    {% include JB/analytics %}

  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/"><h1>jamztang.com</h1></a>
        <p></p>

        <p class="view">{% include outbound.html href="https://github.com/jamztang" innerHTML="GitHub<small>Opensource projects</small>" %}</p>
        <p class="view">{% include outbound.html href="http://medium.com/@jamztang" innerHTML="Medium<small>Longer writings</small>" %}</p>
        <p class="view">{% include outbound.html href="http://twitter.com/jamztang" innerHTML="Twitter<small>Tweets, about iOS, news, opensource</small>" %}</p>
        <p class="view">{% include outbound.html href="http://facebook.com/jamztang" innerHTML="Facebook<small>Friends met in person</small>" %}</p>
        <p class="view">{% include outbound.html href="http://linkedin.com/in/jamztang" innerHTML="LinkedIn<small>Worked together</small>" %}</p>
        <p class="view">{% include outbound.html href="http://mystcolor.me" innerHTML="Tumblr<small>Random insights</small>" %}</p>
        <p class="view">{% include outbound.html href="mailto:me@jamztang.com" innerHTML="Email<small>Direct contact</small>" %}</p> 

      </header>
      <section>
        {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
        {{ content }}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>

    <script src="/javascripts/scale.fix.js"></script>


  </body>
</html>
